<div class='article'>
    <div class='post-title'>
        <h2><a href='/article?key={{post.key| filterKey}}'>{{post.title}}</a></h2>
    </div>
    <div class='post-author'>
        <h3><a href='/article?key={{post.key| filterKey}}'>By {{post.username}} on {{post.created_at.date()}}</a></h3>
    </div>
    <div class='post-message'>
        {{post.message}}
    </div>
</br>

    <div class='social-buttons row'>
        <div class='likes col-md-6' id={{post.key | filterKey}} class='likes-total'>
            <p>
                {{post.likes |length}} people like this!

            <button class='btn btn-primary like-btn' id='{{post.key | filterKey }}' href='/like'>Like</button>
            <button class='btn btn-primary unlike-btn hidden' id='{{post.key | filterKey }}' href='/like'>UnLike</button>
          </p>
        </div>

        <div class='comments col-md-9'>
            Comments
            <div class='comments' id='{{post.key | filterKey }}'>
                <ul class='comments-list' id='{{post.key|filterKey }}comments'>
                    {% for comment in post.comments[-5:] %}
                    <li>
                        {{comment.username}} says {{comment.comment}}! {{comment.created_at.replace(microsecond=0)}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            </br>
            New Comment
            <div class='new_comment'>
                <input name="comment" type='text'>
                <input type='hidden' name='key' value='{{post.key | filterKey}}' />
                <button class="new_comment btn btn-primary" id='{{post.key | filterKey }}'>New Comment</button>
            </div>
        </div>
    </div>
</div>
