<html>

<head>
    <!--  Multi-user-blog App -->

    <link type='text/css' rel='stylesheet' href='/stylesheets/main.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>

<body>
    <div class='navbar navbar-inverse navbar-fixed-top'>
        <div class='navbar-brand'>
            SUPdate
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/newpost">New Post</a></li>
                {% if session['username'] %}
                <li><a href="/profile">Logged In as {{session['username']}}</a></li>
                <li><a href='/logout'>Logout</a></li>
                {% else %}
                <li><a href='/login'>Login</a></li>
                <li><a href='/signup'>Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
  </br>
  </br>
</br>
<p class='error'>
  {{error}}
</p>
    {% block content %} {% endblock %}
</body>

</html>
