<li class='comment-container' id='{{comment.comment}}'>
    <a><span>{{comment.username}}</span> says <span class='comment'>{{comment.comment}}</span>!</a>
    {% if session['username'] %}
    <div class='edit_comment hidden'>
        <input class='update-comment' value='{{comment.comment}}'>
        <button class='update-comment btn btn-sm'>Edit Comment</button>
    </div>
    <div class='delete-comment hidden'>
        <p>Are you sure you want to delete this comment?</p>
        <button class='delete_comment btn btn-default btn-sm'>Delete</button>
    </div>
    
    <button class='edit_comment_form btn btn-default btn-sm'>Edit</button>
    <button class='delete_comment_form btn btn-default btn-sm'>Delete</button>
    {% endif %}
</li>
