{% extends 'base.html' %} {% block content %}
<div class='posts'>

    {% for post in posts %}

    <div class="post col-lg-12">
        <div class='post-title'>
            <a href='/article?key={{post.key}}'>{{post.title}}</a>
        </div>
        <div class='post-message'>
            {{post.message}}
        </div>
        <div class='created_at'>
            {{post.created_at}}
        </div>

        <div class='social-buttons'>
            Likes
            <div class='likes' id={{post.key}}>
                {{post.likes}}
            </div>
            <button class='btn-primary like-btn' id='{{post.key}}' href='/like'>Like</button>
            <div class='comments'>
                Comments
                <ul>
                    {% for comment in post.comments %}
                    <li>
                        {{comment.username}} says {{comment.comment}}!
                    </li>
                    {% endfor %}
                </ul>

                </br>
                New Comment
                <div class ='new_comment'>
                <form method='post'>
                    <input name="comment" type='text'>
                    <input type='hidden' name='key' value='{{post.key}}' />
                    <button class="new_comment" id='{{post.key}}'>New Comment</button>
                </form>
                  </div>
            </div>
        </div>
    </div>

    <p>
        {{title}}
    </p>
    <p>
        {{message}}
    </p>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
    // todo how do you designate like button id by click
    $('button.like-btn').click(function() {
        var post_id = this.id;
        console.log(post_id);
        $.post('/',
          {
            'key' : post_id,
            'like': true
          }).done(function(response){
            response = $.parseJSON(response);
            var selector = '#' + post_id + '.likes';
            $(selector).text(response['likes']);
          }).fail(function(){
            alert('Failed to reach server')
          });


        // $.ajax({
        //         url: '/',
        //         data: {
        //             key: post_id,
        //             like: true
        //         },
        //         type: 'POST',
        //         dataType: JSON,
        //         error: function() {
        //             console.log('Sorry there was a problem');
        //         },
        //         complete: function(response) {
        //             console.log('Ajax call complete');
        //             console.log(response);
        //             //var selector = (post_id).toString();
        //             //console.log(selector);
        //           //  console.log($(selector).text());
        //         }
        //     })
        });
      $('button.new_comment').click(function() {
          var post_id = this.id;
          var comment = $('div.new_comment input:text').val();
          console.log(comment);
          // Todo this is definitely not right
          // $('div.comments').append('<li>' + {{session['username']}} + ' says'
          //   + comment + '</li>')
          return false;
      });
            // $.ajax({
            //         url: '/',
            //         data: {
            //             key: post_id,
            //             comment: true
            //         },
            //         type: 'POST',
            //         dataType: JSON,
            //         success: function(json){
            //             $('div.likes').text(json);
            //             console.log('hello');
            //         },
            //         error: function() {
            //             console.log('Sorry there was a problem');
            //         },
            //         complete: function() {
            //             console.log('Ajax call complete');
            //             //for some reason jquery not liking my selector by Key of the post
            //             //var selector = (post_id).toString();
            //             console.log(selector);
            //             console.log($(selector).text());
            //         }
            //     })


    });
</script>
{% endblock %}
