{% extends 'base.html' %} {% block content %}

<h4>You have been here {{visits}} times!</h4>
<h4>{{congrats}}</h4>
<h1>Likes: {{likes}}</h1>
</br>

<div class='posts'>

    {% for post in posts %}

    <div class="post col-lg-12">
        <div class='post-title'>
            {{post.title}}
        </div>
        <div class='post-message'>
            {{post.message}}
        </div>
        <div class='created_at'>
            {{post.created_at}}
        </div>

        <div class='social-buttons'>
            <div class='likes'>
                Likes
                <button class='btn-primary' href = '/like'>Like</button>
            </div>
            <div class='comments'>
                Comments {{post.comments}}
                </br>
                New Comment
                <form method='post'>
                    <input name="comment" type='text'></input>
                </form>
            </div>
        </div>
    </div>

    <p>
        {{title}}
    </p>
    <p>
        {{message}}
    </p>
    {% endfor %}
</div>
{% endblock %}
